<!DOCTYPE html>
<html>
    <head th:replace="fragments/head">
        <meta charset="utf-8" />
        <title>Ohtu-kki</title>
        <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <nav th:replace="fragments/nav"></nav>
            <form method="POST" th:action="@{/citation}">
                <div class="form-group">
                    <label for="type">Valitse tyyppi</label>
                    <select name="type" id="type" v-model="type" class="form-control">
                        <option value="article">Artikkeli</option>
                    </select>
                </div>
                <!-- Book -->
                <div v-if="type=='article'">
                    <!-- Required -->
                    <div class="form-group">
                        <label for="article-id">ID</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.id}" id="article-id" required="required" placeholder="Aseta artikkelin ID"/>
                    </div>
                    <div class="form-group">
                        <label for="article-author">Author</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.author}" id="article-author" required="required" placeholder="Aseta artikkelin Author"/>
                    </div>
                    <div class="form-group">
                        <label for="article-name">Name</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.name}" id="article-name" required="required" placeholder="Aseta artikkelin Name"/>
                    </div>
                    <div class="form-group">
                        <label for="article-journal">Journal</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.journal}" id="article-journal" required="required" placeholder="Aseta artikkelin Journal"/>
                    </div>
                    <div class="form-group">
                        <label for="article-year">Year</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.year}" id="article-year" required="required" placeholder="Aseta artikkelin Year"/>
                    </div>

                    <!-- Optional -->
                    <div class="form-group">
                        <label for="article-volume">Volume</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.volume}" id="article-volume" placeholder="Aseta artikkelin Volume"/>
                    </div>
                    <div class="form-group">
                        <label for="article-number">Number</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.number}" id="article-number" placeholder="Aseta artikkelin Number"/>
                    </div>
                    <div class="form-group">
                        <label for="article-pages">Pages</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.pages}" id="article-pages" placeholder="Aseta artikkelin Pages"/>
                    </div>
                    <div class="form-group">
                        <label for="article-month">Month</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.month}" id="article-month" placeholder="Aseta artikkelin Month"/>
                    </div>
                    <div class="form-group">
                        <label for="article-note">Note</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.note}" id="article-note" placeholder="Aseta artikkelin Note"/>
                    </div>
                    <div class="form-group">
                        <label for="article-key">Key</label>
                        <input class="form-control" type="text" th:field="*{articleCitation.key}" id="article-key" placeholder="Aseta artikkelin Key"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Lisää uusi Viite</button>
            </form>
        </div>
        
        <script th:replace="fragments/scripts">scripts</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
        <script>
            new Vue({
                    el: 'body',

              data: {
                    type: ''
              },
            });
        </script>
    </body>
</html>
