<!DOCTYPE html>
<html>
    <head th:replace="fragments/head">
        <meta charset="utf-8" />
        <title>Ohtu-kki</title>
        <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    </head>
    <body th:attr="originalId=${citation.id}">
        <div class="container" th:attr="class='container ' + ${session.user.getBackgroundClass()}">
            <nav th:replace="fragments/nav"></nav>
            <form method="POST" th:action="@{'/'+${citation.id}+'/update'}">
                <!-- Citation -->
                <div th:replace="fragments/form :: form(citation=${citation})"></div>
                
                <hr/>
                <button type="submit" v-bind:disabled="notValidId" class="btn btn-success btn-block">Päivitä viite</button>
            </form>
        </div>
        
        <script th:replace="fragments/scripts">scripts</script>
        <script src="js/form.js" th:src="@{/js/form.js}"></script>
    </body>
</html>
