<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
    <meta charset="utf-8" />
    <title>Ohtu-kki</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav th:replace="fragments/nav"></nav>

    <div class="container" id="citation-table" v-show="true">
        <!-- Modal -->
        <modal :show.sync="modal">
            <div slot="modal-header" class="modal-header">
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <button class="btn btn-success btn-block">Add this as ref</button>
                <button class="btn btn-disabled btn-block" disabled="disabled">Add all refs from this</button>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button class="btn btn-default" v-on:click="modal = false">Close</button>
            </div>
        </modal>

        <!-- Search And ACM link crawler -->
        <form method="POST"  v-if="items.length > 0">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control"  placeholder="Search" v-model="query" v-on:keyup="search" v-on:submit.prevent="search(true)" />
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <small>Haun toiminnallisuus...</small>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Kirjoittamalla hakuehdon eteen jonkin luetelluista merkeistä, voit filtteröidä hakua haluamasi mukaan. Voit erotella hakuehtoja <code>;</code> merkillä.</p>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <code>@{Tyyppi}</code> - Luettelee vain {Tyyppi} tyyppiset viitteet
                                    </li>
                                    <li class="list-group-item">
                                        <code>#{Kenttä}</code> - {Kenttä} täytyy löytyä viitteeltä
                                    </li>
                                    <li class="list-group-item">
                                        <code>!{Hakuehto}</code> - {Hakuehto} ei löydy viitteestä
                                    </li>
                                    <li class="list-group-item">Normaalihaku antaa kaikki viitteet jonka arvoista löytyy annettu syöte</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr/>
        </form>

        <!-- Items -->
        <table class="table table-bordered table-striped" v-if="listItems.length > 0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr v-for="item in listItems">
                    <td>{{{item.id}}}</td>
                    <td>{{{item.citationType}}}</td>
                    <td style="padding:0px;">{{{printCitation(item)}}}</td>
                    <td>
                        <a href="/{{item.id}}/edit" class="btn btn-primary btn-sm btn-block"><i class="glyphicon glyphicon-edit"></i> Muokkaa</a>
                        <button v-on:click.prevent="remove(item)" class="btn btn-danger btn-sm btn-block"><i class="glyphicon glyphicon-remove"></i> Poista</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-if="items.length === 0">
            <p>No citations added yet. <a class="btn btn-default" href="/citation">Add one here</a></p>
        </div>
        <div v-if="isEmptyAndHasQuery">
            <p>No citations found with given query</p>
        </div>

        <!-- Buttons -->
        <div v-if="notEmptyAndHasQuery">
            <hr />
            <button class="btn btn-default btn-block" target="_blank" v-on:click.prevent="showAll">
                ... Show all citations
            </button>
        </div>
        <div v-if="notEmptyAndNoQuery">
            <hr />
            <div class="input-group">
                <input class="form-control" type="text" id="filename" v-model="filename" v-on:submit.prevent="" placeholder="Name of the file to be downloaded (optional)" />
                <div class="input-group-btn">
                    <a href="{{downloadLink}}" class="btn btn-primary btn-block" target="_blank">
                      <span class="glyphicon glyphicon-download"></span> Download
                    </a>
                </div>
            </div>
        </div>

	<div>
            <hr/>
            <h3>Upload a BibTex file (.bib) to add its citations</h3>
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <div class="input-group">
                    <input class="form-control" type="file" name="file" accept=".bib" id="bibtex-upload" required="required"/>

                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-block" name="upload" type="submit"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                    </span>
                </div>
            </form>
            <div th:if="${message}" class="alert" th:attr="class='alert alert-' + ${message.getType()}" role="alert" style="margin-top: 15px">
                <b th:if="${message.getTitle()} != ''" th:text="${message.getTitle()}"></b>
                <div th:if="${message.getMessage()} != ''" th:text="${message.getMessage()}"></div>
            </div>
            <div th:unless="${#lists.isEmpty(rejected)}" class="alert alert-danger" role="alert" style="margin-top: 15px">
                <b>Following citations were rejected in validation</b>
                <ul>
                    <li th:each="c : ${rejected}">
                        <span th:text="${c.id}">ID</span> - <span th:text="${c.citationType}">Type</span>	
                    </li>
                </ul>
            </div>
	</div>
    </div>

    <script th:replace="fragments/scripts">scripts</script>
    <script src="js/listing.js" th:src="@{/js/listing.js}"></script>
</body>
</html>