<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
	<meta charset="utf-8" />
	<title>Ohtu-kki</title>
	<link href="/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<nav th:replace="fragments/nav"></nav>
        <div class="container">
            <form method="POST" th:action="@{/filter}"  th:if="${not #lists.isEmpty(citations)}">
                <div class="form-group">
                  <h2>Filter results with </h2>
                  <div class="col-xs-3">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="author" />
                  </div>
                  <div class="col-xs-1">
                    <label for="year">Year:</label>
                    <input type="text" class="form-control" id="year" name="year" />
                  </div>
                  <div class="col-xs-3">
                    <label for="publication">Publication:</label>
                    <input type="text" class="form-control" id="publication" name="publication" disabled="" />
                  </div>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary">Filter now</button>
                </div>
                <p>&nbsp;</p>
                <hr />
            </form>
            <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Name</th>
                <th>Journal</th>
                <th>Volume</th>
                <th>Number</th>
                <th>Pages</th>
                <th>Month</th>
                <th>Note</th>
                <th>Key</th>
              </tr>
            </thead>
            <tbody>
                <tr th:each="citation : ${citations}">
                    <td th:text="${citation.id}" />
                    <td th:text="${citation.author}" />
                    <td th:text="${citation.name}" />
                    <td th:text="${citation.journal}" />
                    <td th:text="${citation.volume}" />
                    <td th:text="${citation.number}" />
                    <td th:text="${citation.pages}" />
                    <td th:text="${citation.month}" />
                    <td th:text="${citation.note}" />
                    <td th:text="${citation.key}" />
                </tr>
            </tbody>
            </table>                
            <div  th:if="${not #lists.isEmpty(citations)}">
                <hr />
                <p>Download BibTex file (at the moment into browser):</p>
                <a href="/download" class="btn btn-primary" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
            </div>
        </div>
	<script th:replace="fragments/scripts">scripts</script>
</body>
</html>